.city-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin: auto;
    font-size: 25px;
    padding: 40px 0
}

.city-content-h1 {
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
    margin: 40px 0
}

.city-content-p {
    font-size: .6em
}

.loan-feature {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 200px
}

.loan-feature-container {
    height: 180px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column
}

.loan-feature-icon {
    margin-top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #fff4eb;
    display: flex;
    align-items: center;
    justify-content: center
}

.loan-feature-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.loan-feature-divider {
    height: 150px;
    background-color: #ff7300;
    width: 5px;
    border-radius: 10px
}

.loan-feature-header {
    font-size: 15px;
    font-weight: 700
}

.loan-feature-p {
    width: 90%;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: #afafaf
}

.doc-req {
    margin: 50px 0
}

.doc-req-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.doc-req-container-icon {
    display: flex;
    min-height: 70px;
    min-width: 70px;
    border-radius: 100%;
    background-color: #fff4eb;
    align-items: center;
    justify-content: center
}

.doc-req-container-content {
    margin-left: 20px;
    height: 100%
}

.doc-req-container-content-h1 {
    font-size: 15px;
    margin: 3px 0;
    font-weight: 700
}

.doc-req-container-content-p {
    font-size: 13px;
    font-weight: 500;
    color: #676767;
    margin: 0
}

@media screen and (max-width:700px) {
    .city-section {
        font-size: 22px;
        width: 90%
    }

    .loan-feature {
        display: block;
        width: 100%;
        height: auto
    }

    .loan-feature-divider {
        display: none
    }

    .loan-feature-container {
        width: 300px;
        height: 100px;
        margin: auto;
        flex-direction: row
    }

    .loan-feature-content {
        width: 240px;
        margin-left: 10px;
        align-items: flex-start;
        justify-content: flex-start
    }

    .loan-feature-icon {
        margin-top: 0
    }

    .loan-feature-p {
        width: 100%;
        text-align: left
    }
}